@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --orang: #E55D42;
    --‍Steel-Blue: #1878A2;
    --blanche:#ffffff;
  }
body{
  font-family:'Roboto', 'Open Sans';

  
}
#particles-js{
  
  background-color: #E55D42;
}



