@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --orang: #E55D42;
    --‍Steel-Blue: #1878A2;
    --blanche:#ffffff;
  }
body{
  font-family:'Roboto', 'Open Sans';
  background-repeat: no-repeat;
}
header{
  background-image: url('../logoimage/desert-g45ccb8828_1920.jpg');
}
.header{
  background-image: url('../../../FilleRouge/public/logoimage/flower-g70602761b_1920.jpg');
}

